.main{
    height: 4rem;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    gap: 45%;
    /* position: relative; */
    border-bottom: 1px  black;
    /* border-style: groove; */
    position: fixed;
    z-index: 1;
}

.navitems{
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: bolder;
    background-color: orange;
    height: 4rem;
    width: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex: 0.5;

    
}
.navdetails{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: center;  
    
}
.navicons{
    font-size: xx-large;
    font-weight: bolder;
    color: orange;
    height: 4rem;
    width: 3%;
    /* position: absolute;
    top: -18%; */
    /* border-left: 1px solid black; */
    text-align: center;
    padding-top: 1.5rem;
}

.navicons1{
    font-size: xx-large;
    font-weight: bolder;
    height: 4rem;
    width: 3%;
    padding-top: 1.5rem;

    /* position: absolute;
    top: -18%; */
    /* border-right: 1px solid black; */
}

@media screen and (max-width:1084px) {
    .main{
        height: 10rem;
        display: flex;
        /* flex-direction: column; */
        text-align: center;
        justify-content: center;
        align-items: center;
       
        position: relative;
     
    }
    .navitems{
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .navdetails{
        display: flex;
        /* flex-direction: column; */
        gap: 5%;
        position: absolute;
        top: 0;
        right: 20;
    }

    .navicons,.navicons1{
        padding-top: 1px;
    }
 
    
}