.main{
    height: 100%;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.experiencecard{
    display: flex;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    height: 30%;
    width: 90%;
    background-color: aliceblue;
    padding: 2rem;
    border-radius: 1rem;
}

.experiencedetails {
    display: flex;
    flex-direction: column;
    width: 40%;

}

.divider{
    height: 4rem;
    opacity: 0.5;
}

.experiencedetails2{
    display: flex;
    flex-direction: column;
    
}

.title{
    font-size: 1.2rem;
}

.button {
    width: 30%;
    padding: 3px;
    font-size: 0.9rem;
    background-color: orange;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width:1384px) {

    .experiencecard{
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
    }
    .button {
        width: 50%;
    }

    .divider{
        display: none;
    }

}